#root {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left; /* Скасовуємо центрування всього тексту */
}

/* Прибираємо стандартні відступи body, які міг додати браузер */
body {
    margin: 0;
    display: block;
    place-items: unset; /* Скасовуємо центрування з index.css, якщо воно там було */
}