@import "tailwindcss";

@theme {
    /* Твоя палітра кольорів */
    --color-primary: #F4DBD8;
    --color-secondary: #BEA8A7;
    --color-accent: #C09891;
    --color-muted: #775144;
    --color-dark: #2A0800;
    --color-calendar-dark: #7B584E;

    /* Твої шрифти */
    --font-harlow: "Harlow Solid Italic", cursive;
    --font-jacques: "Jacques Francois", serif;

    /* Межі */
    --border-3: 3px;
}

/* Підключення шрифтів */
@font-face {
    font-family: 'Harlow Solid Italic';
    src: url('./assets/fonts/HarlowSolidItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Jacques Francois';
    src: url('./assets/fonts/JacquesFrancois-Regular.ttf') format('truetype');
}

/* Базові стилі для всього сайту */
@layer base {
    body {
        @apply bg-secondary text-dark;
        font-family: "Jacques Francois", serif;
    }
}